.ldsring {
    display: inline-block;
    align-content: center;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .ldsring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 23px;
    height: 23px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: ldsring 1.4s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .ldsring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .ldsring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .ldsring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes ldsring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }  